<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <title>yaya-admin-plus</title>
    <style>
        .search-bar {
            padding: 16px 24px;
            border-bottom: 1px solid #eee;
        }
        .form-row {
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
            align-items: flex-end;
        }
        .form-item {
            display: flex;
            flex-direction: column;
            min-width: 150px;
        }
        input[type="text"], input[type="date"] {
            padding: 8px 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1em;
            width: 100%;
            box-sizing: border-box;
        }
        .layui-select-title>.layui-input{
            height: 34.4px;
        }
        .layui-layer-title{
            border-bottom: unset;
        }
    </style>
</head>
<body>
    <div class="yaya-container">
        <div class="layui-fluid">
            <div class="layui-panel card-border">
                <!-- 条件搜索 -->
                <form class="search-bar layui-form">
                    <div class="form-row">
                        <div class="form-item">
                            <input type="text" name="noticeTypeName"  placeholder="类型名称" />
                        </div>
                        <div>
                            <button class="yaya-btn yaya-primary"  lay-submit lay-filter="search">查询</button>
                            <button class="yaya-btn yaya-default" type="reset">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="layui-panel card-border" style="margin-top: 10px;">
                <!-- 菜单操作按钮 -->
                <div style="display: flex;flex-direction: row;justify-content: flex-end;padding: 10px;">
                    <button id="add-type-notice" type="button" class="yaya-btn yaya-primary">添加</button>
                </div>
                <!-- 表格显示 -->
                <table class="layui-hide" id="table-type-notice" lay-filter="table-type-notice"></table>
            </div>
        </div>
    </div>
    <script src="../layui/layui.js"></script>
    <script src="../js/server.js"></script>
    <script>
        layui.use(function(){
            const $ = layui.$;
            const form = layui.form;
            const table = layui.table;

            

            

            //单元格工具事件(一般用于进行编辑和删除操作)
            table.on('tool(table-type-notice)', function(obj){
                console.log(obj);
                //事件
                let event = obj.event;
                if(event==='del'){ //删除事件
                    layer.confirm('确定删除吗？', function(index){
                        layer.close(index);//关闭弹窗
                        // 向后端发送删除请求，执行完毕后，可通过 reloadData 方法完成数据重载
                        let noticeTypeId = obj.data.noticeTypeId;
                        //开启加载图标
                        let index_ = layer.load(0);
                        $.ajax({
                            url: server_url+'/deleteSysNoticeType',
                            type:'GET',
                            dataType:'json',
                            headers:{
                                'Authorization': token
                            },
                            data:{noticeTypeId:noticeTypeId},
                            success: function(resp){
                                //关闭加载图标
                                layer.close(index_);
                                if(resp.code===0){
                                    //刷新
                                    table.reload('table-type-notice');
                                }else{
                                    layer.msg(resp.msg)
                                }
                            }
                        });
                    });
                }else if(event==='edit'){ //编辑事件
                    layer.open({
                        type: 2, // page 层类型 iframe
                        area: ['350px', '180px'],
                        title: '编辑',
                        shade: 0.6, // 遮罩透明度
                        shadeClose: true, // 点击遮罩区域，关闭弹层
                        content: `notice-type-edit.html`,
                        end: function(){
                            //刷新表格
                            table.reload('table-type-notice');
                        },
                        success: function(layero, index){
                            let body = layer.getChildFrame('body', index);
                            // 给 iframe 页中的某个输入框赋值
                            body.find('input[name="noticeTypeId"]').val(obj.data.noticeTypeId);
                            body.find('input[name="noticeTypeName"]').val(obj.data.noticeTypeName);
                        }
                    });
                }else{
                    layer.msg("功能还在路上,敬请期待~");
                }
            });


            //添加
            $("#add-type-notice").click(function(){
                layer.open({
                    type: 2, // page 层类型 iframe
                    area: ['350px', '180px'],
                    title: '添加',
                    shade: 0.6, // 遮罩透明度
                    shadeClose: true, // 点击遮罩区域，关闭弹层
                    content: 'notice-type-add.html',
                    end: function(){
                        //刷新表格
                        table.reload('table-type-notice');
                    }
                });

            });

            

            //搜索渲染
            form.on('submit(search)', function(data){
                let field = data.field; // 获得表单字段
                field.tenantId=user.tenantId
                // 执行搜索重载
                table.reload('table-type-notice', {
                    page: {
                        curr: 1, // 重新从第 1 页开始
                        prev:'上一页',
                        next:'下一页',
                        limit:10,
                        limits:[10,20,30,40,50],
                        theme:'#409eff'
                    },
                    where: field // 搜索的字段
                });
                return false; // 阻止默认 form 跳转
            });
            

            //表格渲染
            table.render({
                elem: '#table-type-notice',
                url: server_url+'/getSysNoticeTypePageByTenantId',
                headers:{
                    'Authorization':token
                },
                where:{tenantId:user.tenantId},
                skin:'line',
                height:'full',
                parseData: function(res){
                    return {
                        "code" : res.code,
                        "msg"  : res.msg,
                        "data" : res.data.list,
                        "count": res.data.count
                    }
                },
                page:{
                    prev:'上一页',
                    next:'下一页',
                    limit:10,
                    limits:[10,20,30,40,50],
                    theme:'#409eff'
                },
                request: {
                    pageName: 'pageNo', // 页码的参数名称，默认：page
                    limitName: 'pageSize' // 每页数据条数的参数名，默认：limit
                },
                cols: [[
                    {
                        title: '#',
                        type: 'numbers'
                    },
                    {
                        field:'noticeTypeName',
                        title: '类型名称'
                    },
                    {
                        title: '创建人',
                        templet: function(d){
                            return d.createUser?d.createUser.username:'-';
                        }
                    },
                    {
                        field:'createTime',
                        title: '创建时间'
                    },
                    {
                        field:'updateTime',
                        title: '更新时间'
                    },
                    {
                        title: '操作',
                        width: 200,
                        fixed: 'right',
                        templet: function(){
                            let str='<button class="yaya-btn is-link-primary yaya-btn-small" lay-event="edit">更新</button>';
                            str+='<button class="yaya-btn is-link-danger yaya-btn-small" lay-event="del">删除</button>';
                            return str;
                        }
                    }
                ]]
            })
        });
    </script>
</body>
</html>