<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 响应式配置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LayUI css库 -->
    <link rel="stylesheet" href="../layui/css/layui.css">
    <link rel="stylesheet" href="../css/yaya-common.css">
    <link rel="stylesheet" href="../css/yaya-style-extend.css">
    <title>yaya-admin-plus</title>
    <style>
        .layui-form-radio:hover>*, .layui-form-radioed, .layui-form-radioed>i{
            color: #1476ff;
        }
        .layui-input:focus,.layui-textarea:focus {
            border-color: #1476ff!important;
            box-shadow: 0 0 0 3px rgba(22,183,119,.08)
        }
        .icon-item {
            display: inline-block;
            padding: 8px;
            cursor: pointer;
            font-size: 20px;
            width: 40px;
            text-align: center;
        }
        .icon-item:hover {
            background-color: #f0f0f0;
            border-radius: 4px;
        }
        /* 表单默认样式修改 */
        .yaya-container .layui-form-label{
            width: 60px;
        }
        .yaya-container .layui-input-block{
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <div class="yaya-container">
        <div class="layui-fluid">
            <form class="layui-form" style="margin-top: 10px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" lay-verify="required" lay-reqtext="请输入姓名" placeholder="请输入姓名" autocomplete="off" lay-affix="clear" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-block">
                        <input type="text" name="phone" lay-verify="required" lay-reqtext="请输入手机" placeholder="请输入手机" autocomplete="off" lay-affix="clear" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id="tenantId">
                    <label class="layui-form-label">租户</label>
                    <div class="layui-input-block">
                        <select name="tenantId">
                            <!-- 租户下拉框 -->
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">部门</label>
                    <div class="layui-input-block">
                        <div id="dept-tree"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        <select name="roleId">
                            <!-- 角色下拉框 -->
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email"  placeholder="请输入邮箱" autocomplete="off" lay-affix="clear" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="required" lay-reqtext="请输入密码" placeholder="请输入密码" lay-affix="clear" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" name="remark" placeholder="请输入备注" autocomplete="off" lay-affix="clear" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="1" title="男" checked>
                        <input type="radio" name="sex" value="0" title="女">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">过期时间</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="expiredTime" id="expiredTime" lay-reqtext="请选择过期时间" lay-affix="clear" placeholder="过期时间" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <button type="button" class="yaya-btn yaya-primary" style="width: 100%;" lay-submit lay-filter="add">添加</button>
                </div>
            </form>
        </div>  
    </div>
    <script src="../layui/layui.js"></script>
    <script src="../js/xm-select.js"></script>
    <script src="../js/server.js"></script>
    
    <script>
        layui.use(function(){

            const $ = layui.$;
            const form = layui.form;
            const layer = layui.layer;
            const laydate = layui.laydate;


            //角色下拉框
            let index_r = layer.load(0);//开启加载图标
            $.ajax({
                url: server_url+'/getSysRoleListByTenantId',
                type:'GET',
                dataType:'json',
                headers:{
                    'Authorization': token
                },
                success: function(resp){
                    //关闭加载图标
                    layer.close(index_r);
                    if(resp.code===0){
                        let list = resp.data;
                        let str='<option value="">角色</option>';
                        if(list && list.length>0){
                            for (let index = 0; index < list.length; index++) {
                                str+=`
                                    <option value="${list[index].roleId}">${list[index].roleName}</option>
                                `;
                            }
                        }
                        //设置到指定位置
                        $('select[name="roleId"]').html(str);
                        //重新渲染
                        form.render("select");
                    }else{
                        layer.msg(resp.msg)
                    }
                }
            });


            //部门树状下拉框
            let index_d = layer.load(0);//开启加载图标
            $.ajax({
                url: server_url+'/getSysDepartmentTree',
                type:'GET',
                dataType:'json',
                headers:{
                    'Authorization': token
                },
                success: function(resp){
                    //关闭加载图标
                    layer.close(index_d);
                    if(resp.code===0){
                        let list = resp.data;
                        
                        xmSelect.render({
                            el: '#dept-tree', 
                            theme: {
                                color: '#409eff',
                            },
                            name: 'deptId',
                            tips: '部门',
                            autoRow: true,
                            radio: true,
                            max: 1,
	                        clickClose: true,
                            prop: {
                                name: 'deptName',
                                value: 'deptId',
                            },
                            tree: {
                                show: true,
                                showFolderIcon: true,
                                showLine: true,
                                indent: 20,
                                expandedKeys: [ -3 ],
                            },
                            height: 'auto',
                            data: function(){
                                return list;
                            }
                        })

                    }else{
                        layer.msg(resp.msg)
                    }
                }
            });

            //时间控件
            laydate.render({
                elem: "#expiredTime",
                type: "datetime",
                fullPanel: true // 2.8+
            });

            //提交添加租户事件
            form.on('submit(add)', function(data){
                let field = data.field; // 获取表单字段值
                //参数json化
                let params = JSON.stringify(field);
                //AJAX请求
                $.ajax({
                    type:'post',
                    url: server_url+'/addSysUser',
                    headers:{
                        'Authorization': token
                    },
                    contentType:'application/json',
                    data:params,
                    dataType:'json',
                    success:function(resp){
                        if(resp.code===0){
                            //关闭弹窗
                            let index = parent.layer.getFrameIndex(window.name); // 先得到当前 iframe 层的索引
                            parent.layer.close(index); // 再执行关闭
                        }else{
                            layer.msg(resp.msg);
                        }
                    }
                });
                return false; // 阻止默认 form 跳转
            });
        
            
            //判断当前用户是不是管理员或者运营用户，如果是管理员用户或者运营用户可以进行租户选择，如果不是，不能进行租户选择
            let yaya = layui.sessionData("yaya");
            //用户信息
            let phone = yaya.user.phone;
            if(phone!=='admin' && phone!=='operation'){
                //当前用户的租户ID
                let tenantId = yaya.user.tenantId;
                $.ajax({
                    url: server_url+'/getSysTenantAll',
                    type:'GET',
                    dataType:'json',
                    headers:{
                        'Authorization': token
                    },
                    success: function(resp){
                        if(resp.code===0){
                            let list = resp.data;
                            let str='';
                            if(list && list.length>0){
                                for (let index = 0; index < list.length; index++) {
                                    let tId = list[index].tenantId;
                                    if(tId===tenantId){
                                        str+=`<option selected value="${tId}">${list[index].tenantName}</option>`;
                                    }else{
                                        str+=`<option value="${tId}">${list[index].tenantName}</option>`;
                                    }
                                }
                            }
                            //设置到指定位置
                            $('select[name="tenantId"]').html(str);
                            //隐藏
                            $("#tenantId").css({display:'none'});
                            //重新渲染
                            form.render();
                        }else{
                            layer.msg(resp.msg)
                        }
                    }
                });
            }else{
                //租户下拉框
                let index = layer.load(0);//开启加载图标
                $.ajax({
                    url: server_url+'/getSysTenantAll',
                    type:'GET',
                    dataType:'json',
                    headers:{
                        'Authorization': token
                    },
                    success: function(resp){
                        //关闭加载图标
                        layer.close(index);
                        if(resp.code===0){
                            let list = resp.data;
                            let str='<option value="">租户</option>';
                            if(list && list.length>0){
                                for (let index = 0; index < list.length; index++) {
                                    str+=`
                                        <option value="${list[index].tenantId}">${list[index].tenantName}</option>
                                    `;
                                }
                            }
                            //设置到指定位置
                            $('select[name="tenantId"]').html(str);
                            //重新渲染
                            form.render("select");
                        }else{
                            layer.msg(resp.msg)
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>